.App {
  text-align: center;
  /* animation: 1.2s ease-out 0s 1 slideInLeft; */
}

.custom-top-mar{
  margin-top: 5vh !important;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background: linear-gradient(180deg, rgba(188,230,252,1) 0%, rgba(255,255,255,1) 100%); */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: -5vh !important;
}

.App-link {
  color: #61dafb;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
