body {
  margin: 5vh;
  font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

code {
  font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}